VITE_API_URL=https://payday-api.waqtmoney.com/api
VITE_DEV_API_PROXY_TARGET=https://payday-api.waqtmoney.com
VITE_FORCE_DIRECT_API=true
VITE_DOCUMENT_BASE_URL=https://payday-api.waqtmoney.com/uploads
